[textdomain]
name="wesnoth-Sceptre_of_Fire"
path="data/campaigns/Sceptre_of_Fire/translations"
[/textdomain]

[campaign]
#textdomain wesnoth-Sceptre_of_Fire
icon="misc/item-sceptreoffire.png"
name= _ "The Sceptre of Fire"
define="CAMPAIGN_SCEPTRE_FIRE"
first_scenario="1_A_Bargain_is_Struck"
difficulties=EASY,NORMAL,HARD
difficulty_descriptions={MENU_IMG_TXT2 dwarf-fighter.png _"Fighter" _"(easiest)"} +
	";*" + {MENU_IMG_TXT dwarf-warrior.png _"Steelclad"} +
	";" + {MENU_IMG_TXT2 dwarf-lord.png (_"Lord") _"(hardest)"}
description= _ "The land of Wesnoth's banner bold
Comes not from its own land;
It comes from Dwarfdom, grim and old
Made by a runesmith's hand.
-
So now I tell from whence it came -
The Fire-sceptre great -
And of the makers of the same,
Their tale I now relate...
-
" + "(Version 0.3.1, 5-14-05)"
image=misc/item-sceptreoffire.png
[/campaign]

[binary_path]
path=data/campaigns/Sceptre_of_Fire/
[/binary_path]

#ifdef CAMPAIGN_SCEPTRE_FIRE
[+units]
	{@campaigns/Sceptre_of_Fire/units/}
[/units]

{@campaigns/Sceptre_of_Fire/scenarios/utils.cfg}
{@campaigns/Sceptre_of_Fire/scenarios}
#endif
