#textdomain wesnoth-Sceptre_of_Fire
#define RECRUIT E N H
#ifdef EASY
recruit={E}
#endif
#ifdef NORMAL
recruit={N}
#endif
#ifdef HARD
recruit={H}
#endif
#enddef

#define SOF_DEATHS
	[event]
	name=die
		[filter]
		description=Rugnur
		[/filter]
		[message]
		description=Rugnur
		message= _ "Gahahh..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Haldric II
		[/filter]
		[message]
		description=Haldric II
		message= _ "Maghah..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Alanin
		[/filter]
		[message]
		description=Alanin
		message= _ "Ahhgg..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Baglur
		[/filter]
		[message]
		description=Alanin
		message= _ "Gaanngh..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Krawg
		[/filter]
		[message]
		description=Krawg
		message= _ "Kraa..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Thursagan
		[/filter]
		[message]
		description=Thursagan
		message= _ "Ayahahh..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
#enddef

###################
#FOLLOWING MACROS BORROWED
#FROM "FLIGHT TO FREEDOM"
#BY MADMAX
###################
#to be used like this:
# {RANDOM_TRAIT_UNIT (
# type=Elvish Champion
# x=20
# y=14
# )}

#define TRAIT_IF NUMBER DESC TRAIT1 TRAIT2 STATS
[if]
[variable]
name=random
equals={NUMBER}
[/variable]
	[then]
		[unit]
		{STATS}
		traits_description={DESC}
			[modifications]
			{TRAIT1}
			{TRAIT2}
			[/modifications]
		[/unit]
	[/then]
[/if]
#enddef

#define RANDOM_TRAIT_UNIT STATS
{RANDOM 1..6}
{TRAIT_IF 1 (_"quick, resilient") ({TRAIT_QUICK}) ({TRAIT_RESILIENT}) ({STATS})}
{TRAIT_IF 2 (_"strong, resilient") ({TRAIT_STRONG}) ({TRAIT_RESILIENT}) ({STATS})}
{TRAIT_IF 3 (_"intelligent, resilient") ({TRAIT_INTELLIGENT}) ({TRAIT_RESILIENT}) ({STATS})}
{TRAIT_IF 4 (_"strong, quick") ({TRAIT_STRONG}) ({QUICK}) ({STATS})}
{TRAIT_IF 5 (_"strong, intelligent") ({TRAIT_STRONG}) ({TRAIT_INTELLIGENT}) ({STATS})}
{TRAIT_IF 6 (_"quick, intelligent") ({TRAIT_QUICK}) ({TRAIT_INTELLIGENT}) ({STATS})}
#enddef

###################
#/FOLLOWING MACROS BORROWED
#/FROM "FLIGHT TO FREEDOM"
#/BY MADMAX
###################
